body {
  font-family: 'Arial', sans-serif;
  background-color: #1c1c1c;
  color: #87CEEB;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background: #282828;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 90%;
  max-width: 600px;
}

h1 {
  color: #cdecf9;
  font-size: 26px;
  margin-bottom: 10px;
}

h2 {
  margin-top: 20px;
  color: #cdecf9;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 20px;
}

.button:hover {
  background-color: #002244;
}

.file-list {
  list-style-type: none;
  padding: 0;
}

.file-item {
  background: #383838;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.2s;
}

.file-item:hover {
  background: #484848;
}

.file-name {
  margin-left: 10px;
  color: #cdecf9;
  flex-grow: 1;
}

.file-preview {
  width: 50px;
  height: 50px;
  border-radius: 5px;
}

.remove-button {
  background-color: #003366;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

.remove-button:hover {
  background-color: #002244;
}

.upload-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #112943; /* Celeste, similar al primary de Bootstrap */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  transition: background-color 0.3s;
}

.upload-button:hover {
  background-color: #0056b3;
}
